[submodule "core"]
	path = core
	url = https://github.com/xt-editor/xt-core
	branch = main
[submodule "frontends/xt-gtk"]
	path = frontends/xt-gtk
	url = https://github.com/xt-editor/xt-gtk
	branch = main
[submodule "frontends/xt-term"]
	path = frontends/xt-term
	url = https://github.com/xt-editor/xt-term
	branch = main
[submodule "xt-rfcs"]
	path = xt-rfcs
	url = https://github.com/xt-editor/xt-rfcs
	branch = main
